<app-home-hero
  [isAuthed]="isAuthed"
  [chartSeries]="chartSeries"
  [chartWidth]="chartWidth"
  [chartHeight]="chartHeight"
  [chartAreaPoints]="chartAreaPoints"
  [chartLinePoints]="chartLinePoints"
  [predictedLinePoints]="predictedLinePoints"
  [chartPoints]="chartPoints"
  [crosshairPercent]="crosshairPercent"
></app-home-hero>

<app-home-pools
  [hotels]="hotels"
  [selectedPool]="selectedPool"
  [sortOption]="sortOption"
  (poolChange)="selectPool($event)"
  (sortChange)="onSortChange($event)"
  [error]="error"
  [loading]="loading"
></app-home-pools>
